<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/estilo.css')}}">
</head>

<body class="fondocol_paz">
    <div class="container pt-4">
        <img src="{{url_for('static', filename='Logo-Colmayor-Color-Blanco-2.png')}}" class="center"
            alt="Responsive image" style="height:6em; width:19em">
        <div class="login-form">

            <h3 class="text-center" style="color:aliceblue;text-shadow: 2px 2px #202020;"><b>Resultados de la
                    consulta:</b></h3>
            <form action="/pazsalvo">
                <p><strong>Nombre:</strong> {{ resultado.nombre }}</p>
                <p><strong>Cedula:</strong> {{ resultado.documento }}</p>
                <p><strong>Dependencia:</strong> {{ resultado.dependencia }}</p>

                <p><strong>Mensaje:</strong> Existen registros/prestamos activos para la cédula.</p>
                <td>No está en paz y salvo con la institución.</td>
                <br>
                <br>
                <div class="form-group">
                    <a class="btn btn-primary" href="{{url_for("pazsalvo")}}" style="background-color:#108181 ;">REGRESAR</a>
                </div>
            </form>

        </div>

        <div class="container"
            style="background-color: white;  border-radius: 10px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);padding: 5px;">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h2 style='color:#108181;'>Registros Activos Pendientes:</h2>
                    </div>
                    <div>
                        <table class="table table-striped table-hover table-bordered table-sm" id='tableReg'>
                            <thead>
                                <tr>
                                    <td>Fecha de prestamo</td>
                                    <td>Entrega</td>
                                    <td>Recibe</td>
                                    <td>Usuario</td>
                                    <td>Cédula</td>
                                    <td>Dependencia Solicitante</td>
                                    <td>Dependencia Prestamo</td>
                                    <td>Prestamo</td>
                                    <td>Estado</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for registro in registros %}
                                <tr>
                                    <td>{{registro.fechaPrestamo}}</td>
                                    <td>{{registro.personaEntrega}}</td>
                                    <td>{{registro.personaRecibe}}</td>
                                    <td>{{registro.nombre}}</td>
                                    <td>{{registro.cedula}}</td>
                                    <td>{{registro.depSolicitante}}</td>
                                    <td>{{registro.depPrestamo}}</td>
                                    <td>{{registro.prestamo}}</td>
                                    <td>{{registro.estado}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</body>
<br>
<br>
<html>