<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Certificado de Paz y Salvo</title>
    <link rel="stylesheet" type="text/css" href="https://myfiles.space/user_files/temporary/653fe505c272e8.88555663/1698686213_plantilla-paz-y-salvo-sistema-1/styles.css" media="all">
</head>

<body style="display: block; width: -10px; height: 1000px; padding: 40px;">
    <div class="wcdiv wcpage" style="width:612pt; height:792pt;">
        <div class="wcdiv">
            <img class="wcimg" style="left: 85.1pt; top: 192.93pt; width: 441.8pt; height: 406.15pt;" src="https://myfiles.space/user_files/temporary/653fe505c272e8.88555663/1698686213_plantilla-paz-y-salvo-sistema-1/1698686213_plantilla-paz-y-salvo-sistema-1-1.png">
        </div>
        <div class="wcdiv">
            <img class="wcimg" style="left: 0pt; top: 696.67pt; width: 612pt; height: 94.99pt;" src="https://myfiles.space/user_files/temporary/653fe505c272e8.88555663/1698686213_plantilla-paz-y-salvo-sistema-1/1698686213_plantilla-paz-y-salvo-sistema-1-2.png">
        </div>
        <div class="wcdiv" style="left:346.55pt; top:732.67pt;">
            <div class="wcdiv" style="clip:rect(3.85pt,113.75pt,39.9pt,0.25pt);">
                <div class="wcdiv" style="left:7.45pt; top:3.85pt;">
                    <span class="wcspan wctext001" style="font-size:8pt; color:#0d0d0d; left:0pt; top:0pt; line-height:9.72pt;">Código:</span>
                    <span class="wcspan wctext001" style="font-size:8pt; color:#0d0d0d; left:31.09pt; top:0pt; line-height:9.72pt;">&nbsp;</span>
                    <span class="wcspan wctext001" style="font-size:8pt; color:#0d0d0d; left:33.91pt; top:0pt; line-height:9.72pt;">GD-FR-004</span>
                    <span class="wcspan wctext001" style="font-size:8pt; color:#0d0d0d; left:0pt; top:18.49pt; line-height:9.72pt;">Versión</span>
                    <span class="wcspan wctext001" style="font-size:8pt; color:#0d0d0d; left:29.93pt; top:18.49pt; line-height:9.72pt;">&nbsp;</span>
                    <span class="wcspan wctext001" style="font-size:8pt; color:#0d0d0d; left:32.74pt; top:18.49pt; line-height:9.72pt;">12</span>
                    <span class="wcspan wctext001" style="font-size:8pt; color:#0d0d0d; left:0pt; top:36.98pt; line-height:9.72pt;">Fecha:</span>
                    <span class="wcspan wctext001" style="font-size:8pt; color:#0d0d0d; left:27.03pt; top:36.98pt; line-height:9.72pt;">&nbsp;</span>
                    <span class="wcspan wctext001" style="font-size:8pt; color:#0d0d0d; left:29.84pt; top:36.98pt; line-height:9.72pt;">27-07-2022</span>
                </div>
            </div>
        </div>
        <div class="wcdiv" style="left:85.05pt; top:70.85pt;">
            <div class="wcdiv" style="top:67.47pt;">
                <span class="wcspan wctext002" style="font-size:18pt; left:96.95pt; top:0.59pt; line-height:20.11pt;">CERTIFICADO PAZ Y SALVO</span>
            </div>
            <div class="wcdiv" style="top:128.15pt;">
                <span class="wcspan wctext003" style="left:0pt; top:0.39pt; line-height:13.41pt; font-family: Arial; font-size: 12pt;">Medellín,</span>
                <span class="wcspan wctext004" style="left:52.03pt; top:0.39pt; line-height:13.41pt; font-family: Arial; font-size: 12pt;"><p id="dia" style="font-family: Arial; font-size: 12pt; margin: 0; font-style: normal;"> </p></span>
                <span class="wcspan wctext003" style="left:72.04pt; top:0.39pt; line-height:13.41pt; font-family: Arial; font-size: 12pt;">de&nbsp;</span>
                <span class="wcspan wctext004" style="left:88.72pt; top:0.39pt; line-height:13.41pt; font-family: Arial; font-size: 12pt;"><p id="mes" style="font-family: Arial; font-size: 12pt; margin: 0; font-style: normal;"> </p></span>
                <span class="wcspan wctext003" style="left:118.73pt; top:0.39pt; line-height:13.41pt; font-family: Arial; font-size: 12pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;del&nbsp;</span>
                <span class="wcspan wctext004" style="left:160.08pt; top:0.39pt; line-height:13.41pt; font-family: Arial; font-size: 12pt;"><p id="ano" style="font-family: Arial; font-size: 12pt; margin: 0; font-style: normal;"> </p></span>
            </div>
                      
            
            <div class="wcdiv" style="top:173.93pt;">
                <span class="wcspan wctext005" style="font-size:14pt; left:106.62pt; top:0.46pt; line-height:15.64pt;">LA INSITITUCION UNIVERSITARIA</span>
            </div>
            <div class="wcdiv" style="top:199.3pt;">
                <span class="wcspan wctext005" style="font-size:14pt; left:105.84pt; top:0.46pt; line-height:15.64pt;">&nbsp;COLEGIO MAYOR DE ANTIOQUIA</span>
            </div>
            <div class="wcdiv" style="top:250.05pt;">
                <span class="wcspan wctext005" style="font-size:14pt; left:181.29pt; top:0.46pt; line-height:15.64pt;">CERTIFICA:</span>
            </div>
            
            <div class="wcdiv" style="top: 275.42pt;left: -65pt;">
                <span class="wcspan wctext003" style="left: 0pt; top: 0.39pt; line-height: 13.41pt;">
                    Que&nbsp;
                </span>
                <span class="wcspan wctext002" style="left: 26.02pt; top: 0.39pt; line-height: 13.41pt;">    <p style="margin-top: 0pt; margin-bottom: 0pt; font-size: 10pt;">                      <span style="font-family: Arial; font-size: 13px;">{{ resultado.nombre }}</span>
                    </p>
                </span>
                <span class="wcspan wctext003" style="left: 250.71pt; top: 0.39pt; line-height: 13.41pt;">
                    con numero de documento
                </span><span class="wcspan wctext002" style="left: 375.81pt; top: 0.39pt; line-height: 13.41pt;">            <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong>                             <span style="font-family:Arial;">&nbsp;</span></strong><span style="font-family:Arial; font-size: 13px;">{{ resultado.documento }}</span></p>
                </span>
                <span class="wcspan wctext003" style="left: 0pt; top: 15.28pt; line-height: 13.41pt;">
                    del número de contrato&nbsp;
                </span>
                <span class="wcspan wctext002" style="left: 126.75pt; top: 15.28pt; line-height: 13.41pt;">                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong>                   <span style="font-family:Arial;">&nbsp;</span></strong><span style="font-family:Arial; font-size: 13px;">{{ contrato }}</span></p>
                </span>
                <span class="wcspan wctext003" style="left: 260.07pt; top: 15.28pt; line-height: 13.41pt;">
                    se encuentra a paz y salvo con la institución a la&nbsp;
                </span>
                <span class="wcspan wctext003" style="left: 0pt; top: 30.17pt; line-height: 13.41pt;">
                    fecha actual de la generación de este certificado.
                </span>
            </div>
            
            <!-- <div class="wcdiv" style="top:275.42pt;">
                <span class="wcspan wctext003" style="left:0pt; top:0.39pt; line-height:13.41pt;">Que&nbsp;</span>
                <span class="wcspan wctext002" style="left:26.02pt; top:0.39pt; line-height:13.41pt;"><p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;<span style="font-family:Arial; font-size: 13px;">{{ resultado.nombre }}</span></p></span>
                <span class="wcspan wctext003" style="left:190.71pt; top:0.39pt; line-height:13.41pt;">con numero de documento&nbsp;</span>
                <span class="wcspan wctext002" style="left:294.81pt; top:0.39pt; line-height:13.41pt;">Numero de Documento&nbsp;</span>
                <span class="wcspan wctext003" style="left:0pt; top:15.28pt; line-height:13.41pt;">del n&uacute;mero de contrato&nbsp;</span>
                <span class="wcspan wctext002" style="left:126.75pt; top:15.28pt; line-height:13.41pt;">Contrato&nbsp;</span>
                <span class="wcspan wctext003" style="left:180.07pt; top:15.28pt; line-height:13.41pt;">se encuentra a paz y salvo con la instituci&oacute;n a la&nbsp;</span>
                <span class="wcspan wctext003" style="left:0pt; top:30.17pt; line-height:13.41pt;">fecha actual de la generaci&oacuten de este certificado.</span>
            </div> -->
            <div class="wcdiv" style="top:396.77pt;"><a name="_GoBack" style="left:0pt; top:0pt;">&nbsp;</a></div>
            <div class="wcdiv" style="top:621.95pt;">
                <span class="wcspan wctext003" style="font-size:9pt; left:45.86pt; top:0.29pt; line-height:10.05pt;">Certificado generado por: &nbsp;&nbsp;</span>
                <span class="wcspan wctext004" style="font-size:9pt; left:149.92pt; top:0.29pt; line-height:10.05pt;"> Sistema de Paz y Salvo &ndash; Tecnolog&iacutea y M edios Audiovisuales</span>
            </div>
        </div>
        <div class="wcdiv">
            <img class="wcimg" style="left: 217pt; top: 62pt; width: 173pt; height: 53.83pt;" src="https://myfiles.space/user_files/temporary/653fe505c272e8.88555663/1698686213_plantilla-paz-y-salvo-sistema-1/1698686213_plantilla-paz-y-salvo-sistema-1-3.png">
        </div>
    </div>
    
    <script>
        // Obtén la fecha actual
        var fechaActual = new Date();

        // Obtiene el día, mes y año de la fecha actual
        var dia = fechaActual.getDate();
        var mes = fechaActual.getMonth(); // Los meses comienzan en 0
        var ano = fechaActual.getFullYear();

        // Array con los nombres de los meses
        var nombresMeses = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];

        // Actualiza el contenido de las etiquetas
        document.getElementById("dia").textContent = dia;
        document.getElementById("mes").textContent = nombresMeses[mes];
        document.getElementById("ano").textContent = ano;
    </script>
</body>

</html>
